@font-face {
	/* Define custom font for the title */
	font-family: "Reese";
	/* Sets the source of the font file and its format */
	src: url("../fonts/WildRide.ttf") format("truetype");
	font-weight: lighter; /* Specifies the font weight */
	font-style: normal; /* Specifies the font style */
}

@font-face {
	/* Define custom font for the title */
	font-family: "Britannic";
	/* Sets the source of the font file and its format */
	src: url("../fonts/Britannic.ttf") format("truetype");
	font-weight: lighter; /* Specifies the font weight */
	font-style: normal; /* Specifies the font style */
}

@font-face {
	/* Define custom font for the title */
	font-family: "FranklinGothic";
	/* Sets the source of the font file and its format */
	src: url("../fonts/FranklinGothicDemiRegular.ttf") format("truetype");
	font-weight: lighter; /* Specifies the font weight */
	font-style: normal; /* Specifies the font style */
}

html {
	background: linear-gradient(to right, #ff630f, #ff5800, #862f00);
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

h1 {
	/* Applies the custom font to the title */
	font-family: "Reese", sans-serif;
	/* Sets the font size */
	font-size: 1500%;
	/* Sets the text color */
	color: yellow;
	text-shadow: -10px 0px 0 #532603, -5px 5px 0 #532603, 0px 0px 0 #532603,
		0px 0px 0 #532603;
	/* Aligns the text to the center */
	text-align: center;
	/* Adds shadow effects to the text */
	margin-top: 5%;
}

h2 {
	/* Applies the custom font to the title */
	font-family: "Reese", sans-serif;
	/* Sets the font size */
	font-size: 450%;
	/* Sets the text color */
	color: yellow;
	text-shadow: -5px 0px 0 #532603, -5px 3px 0 #532603, 0px 0px 0 #532603,
		0px 0px 0 #532603;
	/* Aligns the text to the center */
	text-align: center;
	/* Adds shadow effects to the text */
	margin-top: -70px;
	margin-left: 50px;
}
.left-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 420px;
}
.left-panel p {
	font-family: "Britannic", sans-serif;
	font-size: 200%;
	color: #532603;
	text-shadow: -2px -2px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow,
		1px 1px 0 yellow;
	transform: rotate(5deg);
	margin-top: -490px;
	margin-left: -700px;
	transition: all 0.2s;
	text-align-last: center;
}
.left-panel span {
	font-family: "Britannic", sans-serif;
	font-size: 200%;
	color: yellow;
	text-shadow: -2px -2px 0 #532603, 1px -1px 0 #532603, -1px 1px 0 #532603,
		1px 1px 0 #532603;
}
.left-panel img {
	transform: scale(0.25) rotate(-3deg);
	margin-top: -610px;
	opacity: 0.7;
}
.left-panel img:hover,
.right-panel img:hover {
	opacity: 1;
}
.left-panel p:hover {
	transform: rotate(-5deg);
	transition: all 0.2s;
}

.right-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: -420px;
}
.right-panel p {
	font-family: "Britannic", sans-serif;
	font-size: 200%;
	color: #532603;
	text-shadow: -2px -2px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow,
		1px 1px 0 yellow;
	transform: rotate(-5deg);
	margin-top: -490px;
	margin-left: 700px;
	transition: all 0.2s;
	text-align-last: left;
	text-align-last: center;
}
.right-panel span {
	font-family: "Britannic", sans-serif;
	font-size: 200%;
	color: yellow;
	text-shadow: -2px -2px 0 #532603, 1px -1px 0 #532603, -1px 1px 0 #532603,
		1px 1px 0 #532603;
}
.right-panel img {
	transform: scale(0.25) rotate(3deg);
	margin-top: -610px;
	opacity: 0.7;
}
.right-panel p:hover {
	transform: rotate(5deg);
}

.nutritional-facts {
	display: flex;
	flex-direction: column;
	background-color: white;
	margin-top: 150px;
	margin-left: 30%;
	margin-right: 30%;
	padding: 20px;
	font-family: "FranklinGothic", "Arial Narrow", Arial, sans-serif;
	font-size: 150%;
}

.nutritional-facts a {
	align-self: center;
	font-size: 200%;
	color: black;
}

.nutritional-facts a:hover {
	color: rgb(130, 130, 130);
}

.nutritional-facts line {
	background-color: black;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.content {
	display: flex;
	justify-content: space-between;
}

.footSpace {
	display: flex;
	justify-content: space-between;
	padding-top: 1%;
	padding-bottom: 1%;
}

footer {
	margin-top: 10%;
	background-color: #4e0000;
	color: white;
}

.footSpace h1 {
	font-size: 900%;
	text-shadow: none;
	color: white;
	margin-top: 0%;
	margin-left: 3%;
}

.footSpace h2 {
	font-family: "FranklinGothic", "Arial Narrow", Arial, sans-serif;
	font-size: 200%;
	text-shadow: none;
	color: white;
	margin-top: 3%;
	margin-right: 3%;
}

form {
	display: flex;
	flex-direction: column;
	align-items: end;
	margin-right: 10%;
	margin-top: 20%;
	font-family: "Reese", sans-serif;
	font-size: 500%;
}

input,
textarea,
select {
	font-family: "FranklinGothic", "Arial Narrow", Arial, sans-serif;
	background-color: #650000; /* Set background color */
	font-size: 20px; /* Set font size */
	color: rgb(255, 255, 255); /* Set text color */
	padding: 10px; /* Set padding */
	border-color: rgb(255, 0, 0);
	border-width: 10px;
	border-radius: 100px;
}

input:hover,
textarea:hover,
select:hover {
	font-family: "FranklinGothic", "Arial Narrow", Arial, sans-serif;
	background-color: orange; /* Set background color */
	font-size: 20px; /* Set font size */
	color: black; /* Set text color */
	padding: 10px; /* Set padding */
	border-color: rgb(255, 196, 0);
	border-width: 10px;
	border-radius: 100px;
	transition: all 0.2s;
}
button {
	font-family: "Reese", sans-serif;
	background-color: #650000; /* Set background color */
	font-size: 50px; /* Set font size */
	color: rgb(255, 255, 255); /* Set text color */
	padding: 10px; /* Set padding */
	border-color: rgb(255, 0, 0);
	border-width: 10px;
	border-radius: 40px;
}
button:hover {
	background-color: orange; /* Set background color */
	border-color: rgb(255, 196, 0);
	transition: all 0.2s;
}

.extra {
	background-image: url("../img/ad.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left;
}

.footerOverlay {
	background-color: rgba(78, 0, 0, 0.7);
}
