@font-face {
	/* Define custom font for the title */
	font-family: "Reese";
	/* Sets the source of the font file and its format */
	src: url("../fonts/WildRide.ttf") format("truetype");
	font-weight: lighter; /* Specifies the font weight */
	font-style: normal; /* Specifies the font style */
}

@font-face {
	/* Define custom font for the title */
	font-family: "Britannic";
	/* Sets the source of the font file and its format */
	src: url("../fonts/Britannic.ttf") format("truetype");
	font-weight: lighter; /* Specifies the font weight */
	font-style: normal; /* Specifies the font style */
}

@font-face {
	/* Define custom font for the title */
	font-family: "FranklinGothic";
	/* Sets the source of the font file and its format */
	src: url("../fonts/FranklinGothicDemiRegular.ttf") format("truetype");
	font-weight: lighter; /* Specifies the font weight */
	font-style: normal; /* Specifies the font style */
}

html {
	background: linear-gradient(to right, #ff630f, #ff5800, #862f00);
}

h1 {
	/* Applies the custom font to the title */
	font-family: "Reese", sans-serif;
	/* Sets the font size */
	font-size: 15em;
	/* Sets the text color */
	color: yellow;
	text-shadow: -10px 0px 0 #532603, -5px 5px 0 #532603, 0px 0px 0 #532603,
		0px 0px 0 #532603;
	/* Aligns the text to the center */
	text-align: center;
	/* Adds shadow effects to the text */
	margin: 5%;
}
h1 span {
	font-size: 50%;
}

.left-panel,
.right-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 2%;
}
.left-panel p {
	font-family: "Britannic", sans-serif;
	font-size: 200%;
	color: #532603;
	text-shadow: -2px -2px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow,
		1px 1px 0 yellow;
	transform: rotate(5deg);
	transition: all 0.2s;
	width: 20%;
	text-align: center;
}
.left-panel span,
.right-panel span {
	font-family: "Britannic", sans-serif;
	font-size: 200%;
	color: yellow;
	text-shadow: -2px -2px 0 #532603, 1px -1px 0 #532603, -1px 1px 0 #532603,
		1px 1px 0 #532603;
	display: block;
}
.left-panel img {
	transform: rotate(-3deg);
	opacity: 0.7;
}
.left-panel img:hover,
.right-panel img:hover {
	opacity: 1;
	transition: all 0.2s;
}
.left-panel p:hover {
	transform: rotate(-5deg);
	transition: all 0.2s;
}

.right-panel p {
	font-family: "Britannic", sans-serif;
	font-size: 200%;
	color: #532603;
	text-shadow: -2px -2px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow,
		1px 1px 0 yellow;
	transform: rotate(-5deg);
	transition: all 0.2s;
	width: 20%;
	text-align: center;
}

.right-panel img {
	transform: rotate(3deg);
	opacity: 0.7;
}
.right-panel p:hover {
	transform: rotate(5deg);
	transition: all 0.2s;
}
.nutritional-facts {
	display: flex;
	flex-direction: column;
	background-color: white;
	margin-left: 30%;
	margin-right: 30%;
	padding: 2%;
	font-family: "FranklinGothic", "Arial Narrow", Arial, sans-serif;
	font-size: 1.5em;
}

.nutritional-facts p{
	font-size: 1.2em;
	transition: all 0.2s;
}

.nutritional-facts span {
	font-size: 1em;
	transition: all 0.2s;
	font-style: italic;
}

.nutritional-facts p:hover, .nutritional-facts p:hover ~ span {
	font-size: 150%;
	transition: all 0.2s;
}

.nutritional-facts a {
	align-self: center;
	font-size: 2em;
	color: black;
}

.nutritional-facts a:hover {
	color: rgb(130, 130, 130);
}

.nutritional-facts .line {
	background-color: black;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.content {
	display: flex;
	justify-content: space-between;
}

.footSpace {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1%;
}

footer {
	margin-top: -0.15%;
	color: white;
}

.footSpace h1 {
	font-size: 20em;
	text-shadow: none;
	color: white;
	margin-left: 2%;
	margin-top: -5%;
}

.footSpace h2, .footSpace a {
	font-family: "FranklinGothic", "Arial Narrow", Arial, sans-serif;
	font-size: 2em;
	text-shadow: none;
	color: white;
	margin: 2%;
}

.footSpace a:hover {
	color: yellow;
	font-size: 2.4em;
	transition: all 0.2s;
}

form {
	display: flex;
	flex-direction: column;
	align-items: end;
	margin-right: 10%;
	margin-top: 20%;
	font-family: "Reese", sans-serif;
	font-size: 5em;
}

input,
textarea,
select {
	font-family: "FranklinGothic", "Arial Narrow", Arial, sans-serif;
	background-color: #650000; /* Set background color */
	font-size: 0.3em; /* Set font size */
	color: rgb(255, 255, 255); /* Set text color */
	border-color: rgb(255, 0, 0);
	border-width: 0.5em;
	border-radius: 10em;
}

input:hover,
textarea:hover,
select:hover {
	font-family: "FranklinGothic", "Arial Narrow", Arial, sans-serif;
	background-color: orange; /* Set background color */
	font-size: 0.3em; /* Set font size */
	color: black; /* Set text color */
	border-color: rgb(255, 196, 0);
	border-width: 0.7em;
	border-radius: 10em;
	transition: all 0.2s;
}
button {
	font-family: "Reese", sans-serif;
	background-color: #650000; /* Set background color */
	font-size: 0.7em; /* Set font size */
	color: rgb(255, 255, 255); /* Set text color */
	padding: 3%; /* Set padding */
	border-color: rgb(255, 0, 0);
	border-width: 0.2em;
	border-radius: 10em;
}
button:hover {
	background-color: orange; /* Set background color */
	border-color: rgb(255, 196, 0);
	transition: all 0.2s;
}

.extra video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.footerOverlay {
	background-color: rgba(78, 0, 0, 0.7);
	position: relative;
}

.svgImage {
	margin-top: -0.5%;
}
